<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Alipay</h4>
                    <p class="text-muted">We provide transfer credit to your alipay account so that you can use in any daigou website without go through thrid party channel with no hassle.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wechat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Wechat</h4>
                    <p class="text-muted">We provide top up, and reload services to your wechat wallet so you can use it for top up any games credit by tencent or wechat angpao as well.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mipay</h4>
                    <p class="text-muted">We provide transfer balance to your mipay account so that you can use it for buy book in duokan.</p>
                </div>
            </div>
        </div>
    </section>
